
html, body {
    background-color: #ffffff;
    border: 0 none;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    color: #000000;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 15px;
    line-height: 22px;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
    display: block;
}
#contactFormSubmit
{
    text-shadow:none!important;
}
#contactFormSubmit
{
     background: #862633 none repeat scroll 0 0!important;
     box-shadow:none!important;
}

form {
    margin: 0;
    padding: 0;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
input[type="search"] {
    box-sizing: content-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
select, input[type="file"] {
    height: 27px;
    line-height: 27px;
}
input, textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
    display: inline-block;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    height: 24px;
    line-height: 16px;
    padding: 4px;
    vertical-align: top;
}
input.focus, input:focus, textarea.focus, textarea:focus {
    border: 1px solid #4c90ee;
    box-shadow: 0 0 2px 1px rgba(76, 144, 238, 0.3) inset, 0 0 2px 0 rgba(76, 144, 238, 0.2);
}
input[type="password"]:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, textarea:focus {
    outline: medium none;
}
input[type="checkbox"], input[type="radio"] {
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}
input[type="checkbox"] {
}
input[type="file"] {
    border: medium none;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
input[type="submit"] {
    cursor: pointer;
}
:-moz-placeholder {
    color: #862633 !important;
}
select {
    border: 1px solid #ccc;
    border-radius: 1px;
    color: #222;
    display: inline-block;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding: initial;
    vertical-align: top;
}
@-moz-document url-prefix("") {
select {
    padding: 6px;
}
}
select:focus, select.focus {
    border: 1px solid #4c90ee;
    box-shadow: 0 0 2px 1px rgba(76, 144, 238, 0.3) inset, 0 0 2px 0 rgba(76, 144, 238, 0.2);
    outline: medium none;
}
textarea {
    min-height: 72px;
}
img {
    border: 0 none;
    max-width: 100%;
}
ul, ol {
    margin: 0 0 20px 20px;
    padding: 0;
}
ul li {
    margin-bottom: 5px;
}
ul {
    list-style: outside none disc;
}
.documentation-header {
    margin-bottom: 30px !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-weight: 400;
    margin: 0 0 13px;
    text-transform: none;
}
h1 {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}
h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
h4 {
    font-size: 13px;
    line-height: 18px;
}
h5 {
    font-size: 12px;
    line-height: 18px;
}
h6 {
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
}
h1 .note, h2 .note, h3 .note, h4 .note, h5 .note, h6 .note {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    margin-left: 8px;
}
h1 .note a, h2 .note a, h3 .note a, h4 .note a, h5 .note a, h6 .note a {
    color: #862633;
}
p {
    margin: 0 0 20px;
}
a {
    color: #862633;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
a:active {
    outline: medium none;
}
a.btn, input.btn {
    background: #862633 none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 20px;
    text-transform: none;
    width: auto;
}
a.btn:hover, input.btn:hover {
    background-color: #000000;
    color: #ffffff;
}
input.disabled.btn:hover {
    background-color: #862633;
    color: #ffffff;
}
.disabled {
    cursor: default;
    opacity: 0.5;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #000000;
}
a.back-to-top {
    color: #862633 !important;
    font-size: 12px !important;
}
a.back-to-top:hover {
    color: #000000 !important;
}
.accent-color {
    color: #862633 !important;
}
.goog-te-combo {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif !important;
}
#product .add-to-cart .icon, a.btn, input.btn, .searchform input.submit, .cart-summary a .icon {
    border-radius: 2px;
}
table {
    border-spacing: 0;
    width: 100%;
}
table tr td {
    border-top: 1px solid #dddddd;
}
table tr td, table tr th {
    padding: 10px;
    text-align: left;
}
strong {
    font-weight: 700;
}
em {
    font-style: italic;
}
.social-links a {
    display: inline-block;
    line-height: 24px;
    margin: 0.19em;
    padding: 0 6px 6px 0;
}
[class^="shopify-social-icon-"]::before, [class*=" shopify-social-icon-"]::before {
    color: #444444;
    font-size: 24px;
}
[class^="shopify-social-icon-"]:hover::before, [class*=" shopify-social-icon-"]:hover::before {
    color: #111;
}
.icon-cart {
    display: block;
    float: left;
    height: 16px;
    margin: 21px 10px 0 0;
    opacity: 0.6;
    width: 20px;
}
.icon-cart {
    background: rgba(0, 0, 0, 0) url("//cdn.shopify.com/s/files/1/0605/8525/t/7/assets/icon-cart-small.png?7678539215526446093") no-repeat scroll 0 0;
}
#social .google-plus, #product .tweet-btn, #product .pinterest, #product .facebook-like {
    display: block;
    float: left;
    margin-right: 10px;
}
#social .pinterest {
    width: 70px;
}
#social .share-this {
    float: left;
    margin: 0 10px 0 0;
}
.oldie .credit-cards {
    display: none;
}
.credit-cards {
    list-style: outside none none;
    margin: 0 auto;
    text-align: center;
}
.credit-cards li {
    display: inline;
    margin-right: 10px;
}
.tags {
    bottom: -12px;
    list-style: outside none none;
    margin: 0 0 0 12px;
    padding: 0;
    right: 24px;
}
.tags li {
    margin-bottom: 5px !important;
}
.tags li, .tags a {
    float: left;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    position: relative;
}
.tags a {
    background: #ececec none repeat scroll 0 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #666666;
    margin: 0 15px 15px 0;
    padding: 0 10px 0 12px;
    text-decoration: none;
}
.tags a::before {
    border-color: transparent #ececec transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    content: "";
    float: left;
    height: 0;
    left: -12px;
    position: absolute;
    top: 0;
    width: 0;
}
.tags a::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    content: "";
    float: left;
    height: 4px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 4px;
}
.tags a:hover, .tags li.active a {
    background: #cccccc none repeat scroll 0 0;
    color: #333333;
}
.tags a:hover::before, .tags li.active a::before {
    border-color: transparent #cccccc transparent transparent;
}
.row::before, .row::after, .clearfix::before, .clearfix::after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix::after, .row::after {
    clear: both;
}
.clearfix, .row {
}
.p0 {
    margin-bottom: 0 !important;
}
.p5 {
    margin-bottom: 5px !important;
}
.p10 {
    margin-bottom: 10px !important;
}
.p15 {
    margin-bottom: 15px !important;
}
.p20 {
    margin-bottom: 20px !important;
}
.p25 {
    margin-bottom: 25px !important;
}
.p30 {
    margin-bottom: 30px !important;
}
.p40 {
    margin-bottom: 40px !important;
}
.p50 {
    margin-bottom: 50px !important;
}
.p60 {
    margin-bottom: 60px !important;
}
.fr {
    float: right !important;
}
.fl {
    float: left !important;
}
.fn {
    float: none !important;
}
.tr {
    text-align: right !important;
}
.tl {
    text-align: left !important;
}
.tc {
    text-align: center !important;
}
.border-top {
    border-top: 1px solid #dddddd;
}
.border-right {
    border-right: 1px solid #dddddd;
}
.border-bottom {
    border-bottom: 1px solid #dddddd;
}
.border-left {
    border-left: 1px solid #dddddd;
}
.display-table {
    display: table;
    height: 100%;
}
.display-table-cell {
    display: inline-block;
    vertical-align: middle;
}
.table {
    display: table;
    margin: 0 auto;
}
.fixed {
    position: fixed;
}
hr.divider {
    background: #dddddd none repeat scroll 0 0;
    border: 0 none;
    height: 1px;
    margin: 15px 0;
}
.wrapper {
    background: #ffffff none repeat scroll 0 0;
}
.toolbar-wrapper {
   /* background: #ece9e6 none repeat scroll 0 0;*/
    height: 50px;
    width: 100%;
}
.toolbar-wrapper {
    /*border-bottom: 1px solid #e5e5e5;*/
}
#transparency > .row::before, #transparency > .row::after {
    content: "";
    display: table;
}
#transparency > .row::after {
    clear: both;
}
#transparency > .row {
    margin-bottom: 0;
}
.row {
    margin: 0 auto;
    max-width: 1440px;
}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 {
    display: block;
    float: left;
    margin: 0 15px;
}
.span12 {
    display: block;
    float: left;
}
.inner-left {
    margin-left: 0 !important;
}
.inner-right {
    margin-right: 0 !important;
}
.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 996px;
}
.toolbar {
    margin: 0 auto;
    width: 996px;
}
footer {
    margin: 0 auto;
    width: 996px;
}
.span1 {
    width: 53px;
}
.span2 {
    width: 136px;
}
.span3 {
    width: 219px;
}
.span4 {
    width: 302px;
}
.span5 {
    width: 385px;
}
.span6 {
    width: 468px;
}
.span7 {
    width: 551px;
}
.span8 {
    width: 634px;
}
.span9 {
    width: 717px;
}
.span10 {
    width: 800px;
}
.span11 {
    width: 883px;
}
.span12 {
    width: 100% !important;
}
.span3.adaptive-grid {
    width: 219px;
}
.span3.adaptive-grid:nth-child(6n+7) {
    clear: none;
}
.span3.adaptive-grid:nth-child(4n+5) {
    clear: both;
}
ul.unstyled, ol.unstyled {
    list-style: outside none none;
    margin: 0;
}
ul.unstyled > li, ol.unstyled > li {
    list-style: outside none none;
}
ul.horizontal > li, ol.horizontal > li {
    display: block;
    float: left;
}
ul.horizontal-inline, ol.horizontal-inline {
    text-align: center;
}
ul.horizontal-inline > li, ol.horizontal-inline > li {
    display: inline;
    margin: 0 5px;
}
ul.expanded > li, ol.expanded > li {
    margin-bottom: 10px;
}
.toolbar {
    color: #862633;
    font-size: 14px;
}
.toolbar li {
    line-height: 50px;
    list-style: outside none none;
    margin-bottom: 0 !important;
    padding-left: 25px;
}
.toolbar a {
    color: #862633;
}
.toolbar a:hover {
    color: #000000;
}
.search_box {
    border: 1px solid #cccccc;
    color: #333 !important;
    font-family: none,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 2px;
    max-height: 45px;
    padding-left: 26px;
    vertical-align: middle;
}
.go {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #888;
    height: auto;
    line-height: 50px;
    outline: medium none;
    padding: 0 8px;
    position: absolute;
    width: auto;
}
.flyout .go {
    float: left;
    line-height: 32px;
    margin-top: 2px;
    position: relative;
}
.flyout .search_box {
    float: right;
    margin-left: -30px;
}
.toolbar .fa-shopping-cart {
    font-size: 18px;
    padding-right: 6px;
}
.toolbar .or {
    color: #888;
}
.toolbar .btn {
    color: #ffffff;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.toolbar .btn:hover {
    color: #ffffff;
}
.logo {
    max-width: 100%;
}
.logo {
    float: left;
    padding: 30px 0;
}
.logo h1 {
    border: 0 none;
    margin: 0;
}
.logo h1 a {
    border: 0 none;
    color: #000000;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.logo h1 a:hover {
    color: #000000;
    text-decoration: none;
}
.logo a, .logo img {
    display: block;
    margin: 0;
}
.wide .logo {
    float: none;
}
nav {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    position: relative;
}
nav > ul > li {
    margin-bottom: 0;
}
nav > ul > li > a {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: none;
}
nav > ul > li > a.current {
    color: #000000;
}
nav > ul > li:hover > a {
    color: #000000;
    text-decoration: none;
}
nav > ul > li.dropdown {
    position: relative;
}
nav > ul > li.dropdown > .dropdown {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    display: none;
    left: 0;
    list-style: outside none none;
    margin-left: 15px;
    min-width: 180px;
    padding: 5px 15px;
    position: absolute;
    top: 100%;
    z-index: 99999;
}
nav > ul > li.dropdown:hover > .dropdown {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: block;
    z-index: 999999;
}
nav > ul > li.dropdown li {
    font-size: 13px;
    line-height: 30px;
    list-style: outside none none;
}
nav > ul > li.dropdown li a {
    color: #666666;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}
nav > ul > li.dropdown li a:hover {
    color: #000000;
}
nav {
    border: medium none;
    padding-top: 55px;
    position: relative;
}
nav > ul > li > a {
    padding: 0 0 0 30px;
}
nav > ul > li:first-child > a {
    padding-left: 0;
}
nav > ul > li.dropdown > a {
    margin-right: 0;
}
nav > ul > li.dropdown > a {
    margin-right: 0;
}
nav li a {
    white-space: nowrap;
}
nav.mobile {
    border: medium none;
    display: none;
}
nav.mobile > ul > li > a {
    height: 30px;
    line-height: 30px;
}
nav.mobile select {
    height: 30px;
    line-height: 30px;
    width: 100%;
}
#nav .wide {
    margin-left: 0;
}
#nav .wide nav {
    border-top: 1px solid #dddddd;
    padding-top: 0;
}
.menu-icon {
    color: #862633;
    cursor: pointer;
    display: none;
    float: left;
    font-size: 16px;
    line-height: 50px;
    position: relative;
}
.menu-icon i {
    padding-right: 6px;
}
nav.mobile {
    padding-top: 0;
    width: 100%;
}
.mobile-wrapper {
    display: none;
    margin-bottom: 0;
}
.flyout {
    background: #ece9e6 none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
}
.flyout > ul {
    list-style-type: none;
    margin: 0;
}
.flyout > ul li {
    cursor: pointer;
    margin: 0;
}
.flyout > ul li a.navlink, .flyout > ul li .account-links, .flyout > ul > li > ul > li.customer-links a {
    border-bottom: 1px solid #e5e5e5;
    border-top: medium none;
    color: #862633;
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 40px;
}
.flyout > ul li .more {
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    margin-top: -36px;
    text-align: center;
    width: 35px;
}
.flyout > ul li, .flyout > ul li .more {
    -moz-user-select: none;
}
.flyout > ul li .more, .flyout > ul > li > ul > li a.navlink, .flyout > ul > li > ul > li.customer-links a {
    background: #d6cfc9 none repeat scroll 0 0;
}
.flyout > ul > li > ul {
    list-style-type: none;
    margin: 0;
}
.flyout > ul > li > ul > li a.navlink, .flyout > ul > li > ul > li.customer-links a {
    color: #862633;
    padding-left: 50px;
}
.flyout > ul > li > ul > li a.navlink:hover, .flyout > ul li a.navlink:hover, .flyout > ul > li > ul > li.customer-links a:hover {
    color: #000000;
}
.flyout #go {
    line-height: 34px;
    position: relative;
    top: 34px;
}
.flyout .search-field {
    box-sizing: border-box;
    float: left;
    margin: 12px 0;
    padding: 0 40px;
    width: 100%;
}
.flyout .search-field .search {
    height: 35px;
}
.flyout .search_box {
    box-sizing: border-box;
    height: 35px;
    width: 100%;
}
.footer-wrapper {
    background: #ece9e6 none repeat scroll 0 0;
    margin-top: 10px;
    width: 100%;
}
.footer-wrapper {
    border-top: 1px solid #e5e5e5;
}
footer {
    padding: 0;
}
footer > .row > .span12 {
    padding: 30px 0 0;
}
footer {
    padding-bottom: 20px;
}
footer .row {
    margin-bottom: 0;
}
footer, footer p {
    color: #000000;
}
footer h1, footer h2, footer h3, footer h4, footer h5 {
    color: #000000;
}
footer a {
    color: #862633 !important;
}
footer a:hover {
    color: #000000 !important;
}
footer h4 {
    font-size: 16px;
}
footer ul li {
    margin-bottom: 5px;
}
footer .btn.newsletter {
    background: #862633 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    margin-left: 15px;
}
footer .btn.newsletter:hover {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
}
footer #mail {
    width: 168px;
}
footer .copyright {
    margin: 20px 0 10px;
}
footer .tweet ul li {
    margin-bottom: 20px;
}
footer .tweet_list {
    list-style: outside none none;
    margin: 0;
}
footer .tweet_avatar {
    display: none;
}
footer .tweet_time {
    display: none;
}
footer .tweet_text a {
    color: #862633 !important;
}
footer .tweet_text a:hover {
    color: #000000 !important;
}
.intro h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.intro p, .intro li {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.product {
    float: left;
    margin-bottom: 20px;
    position: relative;
}
.product .image {
    margin: 0 0 5px;
    overflow: hidden;
    position: relative;
    z-index: 8888;
}
.product .image a {
    text-align: center;
}
.image a#placeholder.zoom, .thumbs .image a {
    text-align: center;
}
.product .image.loading {
    background-position: 50% 50%;
}
.product img {
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.15s ease 0s;
}
.zoomImg {
    cursor: crosshair;
}
.product:hover img {
    opacity: 0.7;
}
.product img, .product .image a {
    display: block;
    margin: 0 auto;
}
.product a {
    text-decoration: none;
}
.product .details a {
    display: block;
    padding: 5px 0;
}
.product .title, .product .vendor {
    color: #000000;
    display: block;
    line-height: 22px;
    margin: 0;
}
.product .title {
    font-size: 14px;
    font-weight: bold;
}
.product .vendor {
    font-size: 13px;
    margin-bottom: 2px;
}
.product .circle, #product .circle {
    border-radius: 40px;
    color: #ffffff !important;
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    padding: 17px 10px;
    position: absolute;
    right: -10px;
    text-transform: uppercase;
    top: -10px;
    z-index: 9999;
}
.product .circle.sale, #product .circle.sale {
    background-color: #50b3da;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif,helvetica;
    opacity: 0.9;
}
.breadcrumb {
    font-size: 15px;
    margin: 20px 0 30px;
}
.breadcrumb .arrow-space {
    font-size: 13px;
    margin: -2px 6px 0;
    opacity: 1;
}
.breadcrumb a {
    color: #862633;
}
.purchase h2.price {
    color: #000000;
    display: block;
    font-size: 24px !important;
    margin: 0 0 10px;
}
.details .price {
    color: #000000;
}
#product .featured {
    margin-bottom: 15px;
}
#product .description {
    margin-bottom: 15px;
}
#product .thumbs .image {
    margin-bottom: 15px;
}
#product .thumbs .image:nth-child(3n+4) {
    clear: left;
}
#product h3.collection-title {
    border-bottom: 1px solid #dddddd;
    font-size: 20px;
    padding-bottom: 30px;
}
.image a {
    border: 1px solid #dddddd;
    display: block;
}
.image a img {
    margin: 0 auto;
    vertical-align: middle;
}
.product-options {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-bottom: 15px;
    padding: 15px 0 20px;
}
.product-options label {
    display: block;
    margin-bottom: 3px;
}
.product-options select {
    margin-bottom: 20px;
}
.product-options textarea {
    height: 18px;
    line-height: 18px;
    margin-bottom: 20px;
    min-height: 18px;
    width: 30px;
}
#quantity {
    margin-bottom: 20px;
    width: 50px;
}
@-moz-document url-prefix("") {
.product-options select {
    height: 30px;
    line-height: 30px;
}
}
#collection h1 {
    float: left;
}
#collection .browse-tags {
    float: right;
    padding-left: 15px;
    padding-top: 10px;
}
#collection .browse-tags label {
    display: block;
    float: left;
    margin: 1px 8px 0 0;
}
@-moz-document url-prefix("") {
#collection .browse-tags label {
    margin: 7px 8px 0 0;
}
#collection .browse-tags select {
    float: right;
    height: 30px !important;
    line-height: 30px !important;
}
}
.pagination {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.pagination li {
    display: inline;
    font-size: 14px;
    padding: 0 12px;
}
.pagination li span {
    color: #000000;
}
.pagination li a {
    background: #862633 none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    font-weight: normal;
    line-height: 21px;
    padding: 10px 14px;
}
.pagination li a:hover {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    text-decoration: none;
}
#cart .buttons {
    margin-top: 30px;
}
#cart .extra-checkout-buttons {
    float: right;
    padding-top: 15px;
    text-align: right;
}
#cart .extra-checkout-buttons input {
    border: medium none;
    box-shadow: none;
    height: 42px;
}
#cart .qty {
    text-align: center;
}
#cart .price, #cart .remove {
    text-align: right;
}
#checkout {
    float: right;
    margin-left: 15px;
}
#update-cart {
    float: right;
}
#cart .image {
    text-align: center;
}
#cart .image a, #cart .image img {
    border: medium none;
    margin: 0;
}
#cart a .variant_title {
    color: #000000;
    display: block;
}
#cart a:hover .variant_title {
    color: #000000;
}
#cart .item {
    max-width: 400px;
}
#cart .item-description {
    font-size: 12px;
}
.subtext.success {
    color: #40954a;
    font-weight: 700;
}
div.errors, .subtext.error {
    color: #954040;
    font-weight: 700;
}
div.errors {
    margin-bottom: 15px;
}
.featured-cart-title {
    margin-left: 13px;
}
.sidebar h3 {
    font-size: 18px;
}
.sidebar .article {
    margin: 0 0 15px;
}
.sidebar .article a {
    display: block;
}
.sidebar .tags li {
    margin: 0;
}
.article h1 {
    font-size: 26px;
}
.article h1 a {
    color: #862633;
    display: block;
}
.article h1 .article-title {
    display: block;
}
.article h1 a:hover {
    color: #000000;
}
.article h1 .date, .article-body h1 .date {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 13px;
}
.article .continue {
    display: block;
    margin-top: 15px;
}
#article .comment {
    margin-bottom: 15px;
}
#article .comment_form {
    margin-top: 30px;
}
#article .comment_form .subtext {
    margin-bottom: 15px;
}
#article .comment_form label {
    display: block;
}
#article .comment_form .text {
    display: block;
    margin-bottom: 15px;
}
#article h2.comment-title {
    font-size: 20px;
}
#article #comment_body {
    height: 200px;
    width: 100%;
}
#article h3.author {
    font-size: 14px;
    font-style: italic;
}
#article-content h1 {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}
#article-content h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
#article-content h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
#search .results .thumbnail a {
    display: block;
    float: right;
}
#search .search-border {
    border-bottom: 1px solid #dddddd;
}
#search .results .thumbnail a {
    float: none;
}
#search .search-field {
    height: 60px;
    line-height: 60px;
    position: relative;
}
#search .search_box {
    border: 1px solid #cccccc;
    color: #000000 !important;
    font-family: none,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    height: 34px;
    line-height: normal;
    padding: 0 10px 0 26px;
    vertical-align: middle;
}
#customer-account p, #customer-order p {
    line-height: 14px;
}
#login input.text {
    width: 220px;
}
#customer-activate .create-password {
    margin-bottom: 30px;
}
#customer-activate .label, #customer-login .label, #customer-reset-password .label, #customer-register .label {
    display: block;
}
#customer-activate .text, #customer-login .text, #customer-reset-password .text, #customer-register .text {
    display: block;
    margin-bottom: 15px;
}
#customer-login .action_bottom, #customer-register .action_bottom {
    margin-top: 15px;
}
#order_cancelled {
    margin-bottom: 30px;
}
#customer-addresses .add-new-address {
    display: block;
}
.action_bottom span {
    line-height: 40px;
}
.overviewBody {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.overviewBlock {
    padding-bottom: 20px;
}
.overviewTitle {
    padding-left: 15px;
    text-align: left;
}
.bounding-box {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
@media (max-width: 767px) {
.bounding-box {
    height: 320px !important;
}
}
.front {
    position: relative;
}
@media (min-width: 768px) {
.front-center {
    margin: 0 10px;
}
}
@media (max-width: 767px) {
.front {
    margin-top: 10px;
}
}
.front-title {
    color: white;
    line-height: 250px;
    text-align: center;
}
.fill {
    background-size: cover !important;
}
.front {
    position: relative;
}
@media (min-width: 768px) {
.front-center {
    margin: 0 10px;
}
}
@media (max-width: 767px) {
.front {
    margin-top: 10px;
}
}
.front-title {
    color: white;
    line-height: 250px;
    text-align: center;
}
.quote {
    font-style: italic;
    padding-bottom: 20px;
    text-align: center;
}
.light-background {
    background-color: #ece9e6;
}
.tabs {
    clear: both;
    margin: -3px 0;
    position: relative;
}
.tab {
    float: left;
    padding: 20px;
}
@media (min-width: 615px) {
.tab label {
    font-size: 18px;
    left: 1px;
    margin-left: -1px;
    padding: 20px;
    position: relative;
}
}
@media (max-width: 615px) {
.tab label {
    font-size: 14px;
    left: 1px;
    margin-left: -1px;
    padding: 0;
    position: relative;
}
}
.tab label a {
    text-transform: capitalize;
}
.tab [type="radio"] {
    display: none;
}
.tabContent {
    background: #ece9e6 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 60px;
}
[type="radio"]:checked ~ label {
    z-index: 2;
}
[type="radio"]:checked ~ label ~ .tabContent {
    z-index: 1;
}
#tab-page-wrap {
    margin: 0 auto;
    width: 1280px;
}
label:hover, label:active, input:hover + label, input:active + label {
    color: #862633;
}
.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.datagrid {
    overflow: hidden;
}
.datagrid table td {
    padding: 3px 24px;
}
.datagrid table th {
    padding: 6px 12px;
}
.datagrid table thead th {
    font-size: 16px;
}
.datagrid table thead th:first-child {
    border: medium none;
}
.datagrid table tbody td {
    background: #fff none repeat scroll 0 0;
    font-size: 14px;
}
.datagrid table tbody .alt td {
    background: #dddddd none repeat scroll 0 0;
}
.datagrid table tbody td:first-child {
    border-left: medium none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: medium none;
}
.datagrid table td:nth-child(2), .datagrid table th:nth-child(2) {
    text-align: right;
}
@media only screen and (min-width: 1340px) {
.wrapper, .toolbar, footer {
    width: 1308px;
}
.span1 {
    width: 79px;
}
.span2 {
    width: 188px;
}
.span3 {
    width: 297px;
}
.span4 {
    width: 406px;
}
.span5 {
    width: 515px;
}
.span6 {
    width: 624px;
}
.span7 {
    width: 733px;
}
.span8 {
    width: 842px;
}
.span9 {
    width: 951px;
}
.span10 {
    width: 1060px;
}
.span11 {
    width: 1169px;
}
.span12 {
    width: 1278px;
}
.span3.adaptive-grid {
    width: 188px;
}
.span3.adaptive-grid:nth-child(4n+5) {
    clear: none;
}
.span3.adaptive-grid:nth-child(6n+7) {
    clear: both;
}
}
@media only screen and (min-width: 768px) and (max-width: 1026px) {
.wrapper, .toolbar, footer {
    width: 768px;
}
.span1 {
    width: 34px;
}
.span2 {
    width: 92px;
}
.span3 {
    width: 162px;
}
.span4 {
    width: 226px;
}
.span5 {
    width: 290px;
}
.span6 {
    width: 354px;
}
.span7 {
    width: 418px;
}
.span8 {
    width: 482px;
}
.span9 {
    width: 546px;
}
.span10 {
    width: 610px;
}
.span11 {
    width: 674px;
}
.span12 {
    width: 738px;
}
.span3.adaptive-grid {
    width: 226px;
}
.span3.adaptive-grid:nth-child(6n+7) {
    clear: none;
}
.span3.adaptive-grid:nth-child(4n+5) {
    clear: none;
}
.span3.adaptive-grid:nth-child(3n+4) {
    clear: both;
}
footer .btn.newsletter {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
}
footer #mail {
    width: 124px;
}
}
@media only screen and (min-width: 600px) and (max-width: 797px) {
.mobile-wrapper {
    display: block;
}
section#nav {
    display: none;
}
nav.mobile, .menu-icon {
    display: block;
}
.logo {
    float: none;
    margin: 0 auto;
}
.logo a, .logo img {
    margin: 0 auto;
}
.logo h1 a {
    text-align: center;
}
.logo {
    max-width: 430px;
}
.wrapper, .toolbar, footer {
    width: 600px;
}
.span1 {
    width: 20px;
}
.span2 {
    width: 70px;
}
.span3 {
    width: 120px;
}
.span4 {
    width: 170px;
}
.span5 {
    width: 220px;
}
.span6 {
    width: 270px;
}
.span7 {
    width: 320px;
}
.span8 {
    width: 370px;
}
.span9 {
    width: 420px;
}
.span10 {
    width: 470px;
}
.span11 {
    width: 520px;
}
.span12 {
    width: 570px;
}
.span4.logo-wrapper {
    width: 570px;
}
.span3.adaptive-grid {
    width: 270px;
}
.span3.adaptive-grid:nth-child(6n+7) {
    clear: none;
}
.span3.adaptive-grid:nth-child(4n+5) {
    clear: none;
}
.span3.adaptive-grid:nth-child(3n+4) {
    clear: none;
}
.span3.adaptive-grid:nth-child(2n+3) {
    clear: both;
}
.toolbar .customer-links {
    display: none;
}
.toolbar {
    box-sizing: border-box;
    padding: 0 40px;
    width: 100%;
}
.toolbar .search-field {
    display: none;
}
footer .span1, footer .span2, footer .span3, footer .span4, footer .span5, footer .span6, footer .span7, footer .span8, footer .span9, footer .span10, footer .span11, footer .span12 {
    width: 550px;
}
nav > ul > li > a {
    padding: 0 0 0 20px;
}
#product .span6 {
    width: 570px;
}
#product .span5 {
    width: 470px;
}
#product .span1 {
    width: 70px;
}
#blog .sidebar {
    display: none;
}
#blog .span9 {
    width: 570px;
}
#header .span9, #header .span3 {
    width: 570px;
}
#header .span9 {
    margin-left: 0 !important;
}
#header .span7, #header .span5 {
    width: 570px;
}
#header .span7 {
    margin-left: 0 !important;
}
.footer-menu {
    margin-bottom: 20px;
}
}
@media only screen and (min-width: 510px) and (max-width: 629px) {
.mobile-wrapper {
    display: block;
}
section#nav {
    display: none;
}
nav.mobile, .menu-icon {
    display: block;
}
.logo {
    max-width: 320px;
}
.logo {
    float: none;
    margin: 0 auto;
    text-align: center;
}
.logo a, .logo img {
    margin: 0 auto;
}
.logo h1 a {
    font-size: 32px;
    margin-left: 0;
}
.toolbar .search-field {
    display: none;
}
.wrapper, .toolbar, footer {
    width: 480px;
}
.span1 {
    width: 10px;
}
.span2 {
    width: 50px;
}
.span3 {
    width: 90px;
}
.span4 {
    width: 130px;
}
.span5 {
    width: 170px;
}
.span6 {
    width: 450px;
}
.span7 {
    width: 250px;
}
.span8 {
    width: 290px;
}
.span9 {
    width: 330px;
}
.span10 {
    width: 370px;
}
.span11 {
    width: 410px;
}
.span12 {
    width: 450px;
}
.span4.logo-wrapper {
    width: 450px;
}
.span3.adaptive-grid {
    width: 210px;
}
.span3.adaptive-grid:nth-child(6n+7) {
    clear: none;
}
.span3.adaptive-grid:nth-child(4n+5) {
    clear: none;
}
.span3.adaptive-grid:nth-child(3n+4) {
    clear: none;
}
.span3.adaptive-grid:nth-child(2n+3) {
    clear: both;
}
.toolbar .customer-links {
    display: none;
}
.toolbar {
    box-sizing: border-box;
    padding: 0 40px;
    width: 100%;
}
#collection .browse-tags select {
    margin-top: 12px;
}
footer .span1, footer .span2, footer .span3, footer .span4, footer .span5, footer .span6, footer .span7, footer .span8, footer .span9, footer .span10, footer .span11, footer .span12 {
    width: 450px;
}
#product .span6, #product .span4 {
    width: 450px;
}
#product .span5 {
    width: 350px;
}
#product .span1 {
    width: 70px;
}
#blog .sidebar {
    display: none;
}
#blog .span9 {
    width: 450px;
}
#cart .item-description {
    display: none;
}
#collection h1 {
    float: none !important;
}
#collection .browse-tags {
    display: block;
    float: none !important;
    padding-top: 10px;
}
#collection .browse-tags label {
    display: none;
}
#collection .browse-tags select {
    height: 30px !important;
    line-height: 30px !important;
    width: 100%;
}
#article .sidebar {
    display: none;
}
#article .article {
    width: 450px;
}
#header .span9, #header .span3, #header .span7, #header .span5 {
    width: 450px;
}
#header .span9, #header .span7 {
    margin-left: 0 !important;
}
.footer-menu {
    margin-bottom: 20px;
}
#product .thumbs .image:nth-child(3n+4) {
    clear: none;
}
#product .thumbs .image:nth-child(6n+7) {
    clear: left;
}
#product .thumbs .last-in-row {
    padding-right: 15px;
}
#product .thumbs .image:nth-child(6n+6) {
    padding-right: 0;
}
#collection .browse-tags {
    padding-left: 0;
}
}
@media only screen and (max-width: 509px) {
.mobile-wrapper {
    display: block;
}
#checkout-link {
    display: none;
}
.logo {
    float: none;
    margin: 0 auto;
}
.logo img {
    margin: 0 auto;
    max-height: 160px;
    max-width: 100%;
}
.logo h1 a {
    line-height: 36px;
    text-align: center;
}
section#nav {
    display: none;
}
nav.mobile, .menu-icon {
    display: block;
}
.wrapper {
    padding: 0;
}
.wrapper, .toolbar, footer {
    width: 320px;
}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span4.logo-wrapper {
    float: none;
    width: 290px;
}
.logo h1 a {
    font-size: 24px;
    margin-left: 0;
}
.toolbar .search-field {
    display: none;
}
.flex-controls {
    display: none !important;
}
footer .btn.newsletter {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
}
footer #mail {
    width: 189px;
}
#blog .sidebar {
    display: none;
}
#blog .span9 {
    width: 290px;
}
#product .title {
    font-size: 22px;
}
#product .featured {
    margin-bottom: 15px;
}
#product .thumbs {
    margin: 0 0 30px;
}
#product .thumbs .image a {
    float: left;
    margin: 0 15px 0 0;
    max-width: 60px;
}
#cart .item-description {
    display: none;
}
#collection h1 {
    float: none !important;
}
#collection .browse-tags {
    display: block;
    float: none !important;
    padding-top: 10px;
}
#collection .browse-tags label {
    display: none;
}
#collection .browse-tags select {
    height: 30px;
    line-height: 30px;
    width: 100%;
}
#product .span6 {
    clear: both;
}
#product .span5 {
    float: left;
    width: 230px;
}
#product .span1 {
    float: left;
    margin: 0;
    width: 60px;
}
#product .thumbs {
    margin: 0 0 15px;
}
#product .thumbs .image {
    margin-bottom: 0;
}
#product .thumbs .image a {
    margin-bottom: 15px;
}
#content {
    min-height: 0 !important;
}
.footer-menu {
    margin-bottom: 20px;
}
.toolbar .customer-links {
    display: none;
}
.toolbar {
    box-sizing: border-box;
    padding: 0 40px;
    width: 100%;
}
.toolbar li {
    padding-left: 15px;
}
.flyout .search-field {
    float: none;
}
.span3.adaptive-grid {
    width: 290px;
}
#collection .browse-tags select {
    margin-top: 12px;
}
#collection .browse-tags {
    padding-left: 0;
}
}
.ie8 .product .circle, .ie8 #product .circle {
    padding: 8px 12px;
    right: 0;
    top: 0;
}
.ie8 .span3.adaptive-grid:first-child + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid, .ie8 .span3.adaptive-grid:first-child + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid, .ie8 .span3.adaptive-grid:first-child + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid, .ie8 .span3.adaptive-grid:first-child + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid + .span3.adaptive-grid {
    clear: both;
}
.ie7 nav > ul > li {
    display: inline-block !important;
    float: left !important;
}
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: top;
}
.fancybox-wrap {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 8020;
}
.fancybox-skin {
    background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 4px;
    color: #444;
    position: relative;
    text-shadow: none;
}
.fancybox-opened {
    z-index: 8030;
}
.fancybox-opened .fancybox-skin {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {
    position: relative;
}
.fancybox-inner {
    overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
}
.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
    display: block;
    height: 100%;
    width: 100%;
}
.fancybox-image {
    max-height: 100%;
    max-width: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite.png");
}
#fancybox-loading {
    background-position: 0 -108px;
    cursor: pointer;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
    opacity: 0.8;
    position: fixed;
    top: 50%;
    z-index: 8060;
}
#fancybox-loading div {
    background: rgba(0, 0, 0, 0) url("fancybox_loading.gif") no-repeat scroll center center;
    height: 44px;
    width: 44px;
}
.fancybox-close {
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: -18px;
    top: -18px;
    width: 36px;
    z-index: 8040;
}
.fancybox-nav {
    background: transparent url("blank.gif") repeat scroll 0 0;
    cursor: pointer;
    height: 100%;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 40%;
    z-index: 8040;
}
.fancybox-prev {
    left: 0;
}
.fancybox-next {
    right: 0;
}
.fancybox-nav span {
    cursor: pointer;
    height: 34px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    visibility: hidden;
    width: 36px;
    z-index: 8040;
}
.fancybox-prev span {
    background-position: 0 -36px;
    left: 10px;
}
.fancybox-next span {
    background-position: 0 -72px;
    right: 10px;
}
.fancybox-nav:hover span {
    visibility: visible;
}
.fancybox-tmp {
    left: -99999px;
    max-height: 99999px;
    max-width: 99999px;
    overflow: visible !important;
    position: absolute;
    top: -99999px;
    visibility: hidden;
}
.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}
.fancybox-lock body {
    overflow: hidden !important;
}
.fancybox-lock-test {
    overflow-y: hidden !important;
}
.fancybox-overlay {
    background: rgba(0, 0, 0, 0) url("fancybox_overlay.png") repeat scroll 0 0;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 8010;
}
.fancybox-overlay-fixed {
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 9999;
}
.fancybox-lock .fancybox-overlay {
    overflow-x: auto;
    overflow-y: scroll;
}
.fancybox-title {
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    visibility: hidden;
    z-index: 8050;
}
.fancybox-opened .fancybox-title {
    visibility: visible;
}
.fancybox-title-float-wrap {
    bottom: 0;
    margin-bottom: -35px;
    position: absolute;
    right: 50%;
    text-align: center;
    z-index: 8050;
}
.fancybox-title-float-wrap .child {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 24px;
    margin-right: -100%;
    padding: 2px 20px;
    text-shadow: 0 1px 2px #222;
    white-space: nowrap;
}
.fancybox-title-outside-wrap {
    color: #fff;
    margin-top: 10px;
    position: relative;
}
.fancybox-title-inside-wrap {
    padding-top: 10px;
}
.fancybox-title-over-wrap {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 10px;
    position: absolute;
}
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
}
#fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
}
}
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: medium none;
}
.slides, .flex-control-nav, .flex-direction-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.flexslider {
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
}
.flexslider .slides > li {
    display: none;
    margin-bottom: 0 !important;
}
.flexslider .slides img {
    display: block;
    max-width: 100%;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
.slides::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}
.no-js .slides > li:first-child {
    display: block;
}
.flexslider {
    background: transparent none repeat scroll 0 0;
    position: relative;
}
.flexslider .slides {
}
.flexslider .slides > li {
    position: relative;
}
.flex-container {
    position: relative;
}
.flex-caption {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.flex-caption {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    left: 0;
    line-height: 18px;
    margin: 0;
    padding: 2%;
    position: absolute;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
    width: 96%;
}
.flex-direction-nav {
    display: none;
    height: 0;
}
.flex-direction-nav li {
    margin-bottom: 0;
}
.flex-direction-nav li a {
    background: rgba(0, 0, 0, 0) url("//cdn.shopify.com/s/files/1/0605/8525/t/7/assets/slider-arrows.png?7678539215526446093") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    text-indent: -999em;
    top: 48%;
    width: 50px;
}
.flex-direction-nav li .disabled {
    cursor: default;
    opacity: 0.3;
}
.flex-direction-nav li .prev {
    background-position: 0 -100px;
    left: 20px;
}
.flex-direction-nav li .next {
    background-position: -250px -100px;
    right: 20px;
}
.flex-direction-nav li .prev:hover {
    background-position: 0 -150px;
}
.flex-direction-nav li .next:hover {
    background-position: -250px -150px;
}
.flex-controls {
    opacity: 0.9;
}
.flexslider .slides li {
    text-align: center !important;
}
.flexslider .slides img {
    display: inline !important;
}
input[type="radio"] {
}
.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.full-photo {
    position: relative;
}
.full-photo img {
    display: block;
    height: auto;
    width: 100% !important;
}
.sticky-cell a {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
}
@media (max-width: 767px) {
.sticky-cell a {
    padding-bottom: 2px;
    padding-top: 2px;
}
}
.sticky-grid {
    margin: 0 auto;
    max-width: 1440px;
}
.sticky-fixed {
    left: 0;
    position: fixed;
    top: 0;
}
#sticky {
    background: #ece9e6 none repeat scroll 0 0;
    text-align: center;
    z-index: 999;
}
#sticky a {
    color: #000;
}
#sticky-buy {
    background-color: #862633;
}
#sticky #sticky-buy a {
    color: white;
}
.description {
    padding: 0 20px;
}
.press-release {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
@media (max-width: 767px) {
.desktop-none {
    display: none !important;
}
}
@media (min-width: 768px) {
.mobile-none {
    display: none !important;
}
}
.section {
    padding-top: 60px;
}
.press-box-bottom {
    height: 50px;
    text-align: center;
}
.press-box-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.press-box-bottom img {
    max-height: 25px;
    max-width: 100%;
    vertical-align: middle;
}
@media (min-width: 768px) {
.press-box-press {
    padding-bottom: 40px;
    padding-top: 40px;
}
.press-box-bottom {
    height: 50px !important;
}
}
