#primary
{
      padding-left: 20px;
    padding-right: 20px;
    min-height:500px;
}
.navBox  a:visited
{
    color:#862633
}
.iconBox {
    height: 140px;
    padding-top: 20px;
    text-align: center;
}
.navBox {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif !important;
    font-size: 17px;
    height: 37px;
    text-align: center;
}
@media (max-width: 767px) {
.big {
    height: 0;
    padding-top: 0 !important;
    visibility: hidden;
}
}
@media (max-width: 509px) {
.navRow {
    float: left !important;
}
}
@media (min-width: 768px) {
.iconBox {
    overflow: visible;
}
.navBox {
    padding-top: 70px;
}
.small {
    position: absolute;
    visibility: hidden;
}
}
.navRow {
    margin: 0 auto;
    max-width: 770px;
    text-align: center;
}
.menu-icon {
    visibility: hidden;
}


.goog-logo-link {
   display:none !important;
} 

.goog-te-gadget{
   color: transparent !important;
}
            
#google_translate_element {
  padding-top: 1px;
  padding-left: 10px;
}

@media (max-width:1100px) {
  #google_translate_element {
  display: none;
}
}
.overviewBox {
  padding-top:10px;
}

.overviewBlock {
  padding-bottom:0px !important;
}

@media (min-width: 768px) {
  #video {
    padding-left: 10px;
  }
}

#vision {
  padding-top: 60px;
}

.bottom {
  height:50px;
  text-align:center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.bottom img {
  vertical-align: middle;
  max-height: 25px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .press {
    padding-bottom:40px;
    padding-top:40px;
  }

  .bottom {
    /*position: absolute;*/
    height: 50px !important;
  }
}

#shop {
  background:linear-gradient(
    rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0.55)
    ), 
  url('//cdn.shopify.com/s/files/1/0605/8525/t/7/assets/buyMain.jpg?9233190680498239910');
  height:250px !important;
}

#shop:hover {
  background:linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
    ), 
  url('//cdn.shopify.com/s/files/1/0605/8525/t/7/assets/buyMain.jpg?9233190680498239910');
}

.shop-text {
  text-align:center;
  line-height: 250px;
  color:#FFF;
}

@media (min-width: 768px) {
  .shop-text-small {
    display: none;
  }
}

@media (max-width: 767px) {
  .shop-text-large {
    display: none;
  }
}